* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 16px;
  outline: none; }

header {
  padding-top: 40px;
  background-image: linear-gradient(119.35deg, #566495 0%, #6D1F88 62.47%);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  overflow: hidden; }
  header .logo-container {
    display: block;
    width: 100%; }
    header .logo-container img {
      display: block;
      margin: auto;
      margin-bottom: 10px;
      max-width: 173px;
      width: 100%;
      max-height: 149px;
      height: 100%; }
    header .logo-container h3 {
      font-weight: lighter;
      color: #fff;
      text-align: center; }
  header .btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    header .btn-container .add-button-container, header .btn-container .close-session-container {
      display: block;
      max-width: 140px;
      width: 100%;
      float: right; }
      header .btn-container .add-button-container #add-button, header .btn-container .add-button-container #close-session-button, header .btn-container .close-session-container #add-button, header .btn-container .close-session-container #close-session-button {
        display: flex;
        margin: auto;
        margin-top: 20px;
        align-items: center;
        justify-content: space-around;
        background: none;
        padding: 10px;
        border: solid 1px #fff;
        border-radius: 20px;
        max-width: 130px;
        transition: all ease 0.2s; }
        header .btn-container .add-button-container #add-button p, header .btn-container .add-button-container #close-session-button p, header .btn-container .close-session-container #add-button p, header .btn-container .close-session-container #close-session-button p {
          display: inline-block;
          color: #fff; }
        header .btn-container .add-button-container #add-button img, header .btn-container .add-button-container #close-session-button img, header .btn-container .close-session-container #add-button img, header .btn-container .close-session-container #close-session-button img {
          display: inline-block;
          max-width: 40px;
          width: 100%;
          max-height: 40px;
          height: 100%; }
      header .btn-container .add-button-container #add-button:hover, header .btn-container .add-button-container #close-session-button:hover, header .btn-container .close-session-container #add-button:hover, header .btn-container .close-session-container #close-session-button:hover {
        cursor: pointer;
        background: #9e3549;
        border-color: #9e3549;
        color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

input[type="text"], input[type="password"],
input[type="number"], textarea {
  display: block;
  border: none;
  max-width: 300px;
  width: 100%;
  margin: 20px auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 10px; }

footer {
  display: block;
  width: 100%;
  padding: 20px 0px; }
  footer .footer-text {
    text-align: center; }

header .btn-regresar {
  font-weight: lighter;
  display: block;
  max-width: 160px;
  width: 100%;
  max-height: 66px;
  height: 100%;
  margin: 0px auto;
  background: none;
  color: #fff;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  transition: all ease 0.2s;
  padding: 15px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  display: block;
  float: left;
  text-decoration: none;
  margin-left: 20px;
  text-align: center; }

header .btn-regresar:hover {
  cursor: pointer;
  background: #9e3549;
  border-color: #9e3549;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.main-wraper {
  display: block;
  width: 85%;
  margin: 20px auto; }
  .main-wraper .item-data {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    max-width: 500px;
    width: 100%;
    margin: auto; }
    .main-wraper .item-data form .image-data .img {
      display: block;
      min-height: 160px;
      margin: auto;
      max-width: 200px;
      width: 100%;
      max-height: 160px;
      height: 100%;
      background-image: url("../assets/DS1052E-2T.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .main-wraper .item-data form .image-data input[type="file"] {
      display: block;
      margin: auto; }
    .main-wraper .item-data form .general-data .field label {
      display: inline-block; }
    .main-wraper .item-data form .general-data .field input {
      display: inline-block; }
    .main-wraper .item-data form .ficha-tecnica object {
      width: 100%;
      min-height: 300px;
      max-height: 400px;
      height: 100%;
      display: block;
      margin: 20px auto; }
    .main-wraper .item-data form input[type="submit"] {
      font-weight: lighter;
      display: block;
      max-width: 160px;
      width: 100%;
      max-height: 66px;
      height: 100%;
      margin: 0px auto;
      background: none;
      color: #fff;
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 20px;
      transition: all ease 0.2s;
      padding: 15px 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
      border-color: #000;
      color: #000; }
    .main-wraper .item-data form input[type="submit"]:hover {
      cursor: pointer;
      background: #9e3549;
      border-color: #9e3549;
      color: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
